<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Restaurante XYZ</title>
  <link rel="stylesheet" href="../Css/home.css">
</head>
<body>
  <header>
    <h1 onclick="location.href = 'Home_View.html';">Restaurante Food</h1>
    <nav>
      <ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Cardápio</a></li>
        <li><a href="#">Sobre Nós</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="banner">
      <h2>Bem-vindo ao Restaurante XYZ</h2>
      <p>Desfrute de uma experiência culinária única com pratos cuidadosamente preparados para você.</p>
      <button onclick="location.href = 'Cardapio_View.html';">Ver Cardápio</button>
    </section>
    <section class="destaques">
      <h2>Pratos em Destaque</h2>
      <ul>
        <li>
          <img src="../images/prato1.jpg" alt="Prato 1">
          <h3>Comida Japonesa</h3>
          <p>Barca de 100 peças incriveis</p>
        </li>
        <li>
          <img src="../images/prato2.jpg" alt="Prato 2">
          <h3>Churrasco diversos</h3>
          <p>Desfrute de um churrasco a vontade</p>
        </li>
        <li>
          <img src="../images/prato3.jpg" alt="Prato 3">
          <h3>Macarrão a Bolonhesa</h3>
          <p>Um dos melhores macarrão 100% Caseiro</p>
        </li>
      </ul>
    </section>
    <section class="sobre">
      <h2>Sobre Nós</h2>
      <p>
        Somos um Restaurante Dedicado a preparo de pratos impressionantes e que eleve o nivel de referencia Gastronomica a outro nivel.
        Nosso restaurante possui avalição de 5 Estrelas sendo recebido diretamente da fonte: Vozes da minha cabeça.
      </p>
    </section>
  </main>
  <footer>
    <p>DaviTaiyo - Todos os direitos reservados.</p>
  </footer>
</body>
</html>
